<!DOCTYPE html>

<html>

  <h1></h1>


  <form action="/adventure/bank/madlib">
    <div class="fillable_container">
      <div class="fillable">
        <label for="bank_adjective_one">Adjective </label>
        <input id="bank_adjective_one" type="text" name="adjective_one">
      </div>

      <div class="fillable">
        <label for="bank_city">City Name </label>
        <input id="bank_city" type="text" name="city">
      </div>

      <div class="fillable">
        <label for="bank_adjective_two">Adjective </label>
        <input id="bank_adjective_two" type="text" name="adjective_two">
      </div>

      <div class="fillable">
        <label for="bank_adjective_three">Adjective </label>
        <input id="bank_adjective_three" type="text" name="adjective_three">
      </div>

      <div class="fillable">
        <label for="bank_bank_name_one">Heist Mastermind's Name </label>
        <input id="bank_bank_name_one" type="text" name="bank_name_one">
      </div>

      <div class="fillable">
        <label for="bank_adjective_four">Adjective </label>
        <input id="bank_adjective_four" type="text" name="adjective_four">
      </div>

      <div class="fillable">
        <label for="bank_name_two">Technical Specialist's Name </label>
        <input id="bank_name_two" type="text" name="name_two">
      </div>

      <div class="fillable">
        <label for="bank_device">Device </label>
        <input id="bank_device" type="text" name="device">
      </div>

            <div class="fillable">
        <label for="bank_name_three">Get-Away Driver's Name </label>
        <input id="bank_name_three" type="text" name="name_three">
      </div>

      <div class="fillable">
        <label for="bank_vehicle">Vehicle </label>
        <input id="bank_vehicle" type="text" name="vehicle">
      </div>

      <div class="fillable">
        <label for="bank_name_four">Name for the Muscle Man </label>
        <input id="bank_name_four" type="text" name="name_four">
      </div>

      <div class="fillable">
        <label for="bank_animal">Animal </label>
        <input id="bank_animal" type="text" name="animal">
      </div>

      <div class="fillable">
        <label for="bank_plural_noun_one">Plural Noun </label>
        <input id="bank_plural_noun_one" type="text" name="plural_noun_one">
      </div>

      <div class="fillable">
        <label for="bank_time">Time (PM) </label>
        <input id="bank_time" type="text" name="time">
      </div>

      <div class="fillable">
        <label for="bank_color">Color </label>
        <input id="bank_color" type="text" name="color">
      </div>

      <div class="fillable">
        <label for="bank_adjective_five">Adjective </label>
        <input id="bank_adjective_five" type="text" name="adjective_five">
      </div>

      <div class="fillable">
        <label for="bank_plural_noun_two">Plural Noun </label>
        <input id="bank_plural_noun_two" type="text" name="plural_noun_two">
      </div>

      <div class="fillable">
        <label for="bank_container">Container </label>
        <input id="bank_container" type="text" name="container">
      </div>

      <div class="fillable">
        <label for="bank_sound">Sound </label>
        <input id="bank_sound" type="text" name="sound">
      </div>

      <div class="fillable">
        <label for="bank_name_five">Officer's Name </label>
        <input id="bank_name_five" type="text" name="name_five">
      </div>

      <div class="fillable">
        <label for="bank_object">Object </label>
        <input id="bank_object" type="text" name="object">
      </div>

      <div class="fillable">
        <label for="bank_furniture">Piece of Furniture </label>
        <input id="bank_furniture" type="text" name="furniture">
      </div>

      <div class="fillable">
        <label for="bank_vehicle_tw0">Vehicle </label>
        <input id="bank_vehicle_two" type="text" name="vehicle_two">
      </div>

      <div class="fillable">
        <label for="bank_number">Number </label>
        <input id="bank_number" type="text" name="number">
      </div>
    </div>  <!--fillable container -->

    <div class="button_container">
      <div class="generate_button">
        <button>Generate</button>
      </div>
      <div class="randomize_button">
        <button>Randomize</button>
      </div>
    </div> <!-- button container -->
  </form>

</html>
