<!DOCTYPE html>

<html>

  <h1></h1>


  <form action="/fantasy/dwarf/madlib">
    <div class="fillable_container">
      <div class="fillable">
        <label for="dwarf_mountain">Name of the Mountain </label>
        <input id="dwarf_mountain" type="text" name="mountain">
      </div>

      <div class="fillable">
        <label for="dwarf_dwarf_name">Dwarven Hero's Name </label>
        <input id="dwarf_dwarf_name" type="text" name="dwarf_name">
      </div>

      <div class="fillable">
        <label for="dwarf_noun">Noun </label>
        <input id="dwarf_noun" type="text" name="noun">
      </div>

      <div class="fillable">
        <label for="dwarf_color_one">Color </label>
        <input id="dwarf_color_one" type="text" name="color_one">
      </div>

      <div class="fillable">
        <label for="dwarf_adjective_one">Adjective </label>
        <input id="dwarf_adjective_one" type="text" name="adjective_one">
      </div>

      <div class="fillable">
        <label for="dwarf_cavern">Name of Cavern or Tunnel </label>
        <input id="dwarf_cavern" type="text" name="cavern">
      </div>

      <div class="fillable">
        <label for="dwarf_dragon_name">Dragon's Name </label>
        <input id="dwarf_dragon_name" type="text" name="dragon_name">
      </div>

      <div class="fillable">
        <label for="dwarf_metal">Precious Metal </label>
        <input id="dwarf_metal" type="text" name="metal">
      </div>

      <div class="fillable">
        <label for="dwarf_adjective_two">Adjective </label>
        <input id="dwarf_adjective_two" type="text" name="adjective_two">
      </div>

      <div class="fillable">
        <label for="dwarf_weapon">Weapon (Plural) </label>
        <input id="dwarf_weapon" type="text" name="weapon">
      </div>

      <div class="fillable">
        <label for="dwarf_beverage">Beverage </label>
        <input id="dwarf_beverage" type="text" name="beverage">
      </div>

      <div class="fillable">
        <label for="dwarf_adverb_one">Adverb </label>
        <input id="dwarf_adverb_one" type="text" name="adverb_one">
      </div>

      <div class="fillable">
        <label for="dwarf_instrument">Musical Instrument </label>
        <input id="dwarf_instrument" type="text" name="instrument">
      </div>

      <div class="fillable">
        <label for="dwarf_food">Food Item </label>
        <input id="dwarf_food" type="text" name="food">
      </div>

      <div class="fillable">
        <label for="dwarf_building_material">Building Material </label>
        <input id="dwarf_building_material" type="text" name="building_material">
      </div>

      <div class="fillable">
        <label for="dwarf_creature">Magical Creature </label>
        <input id="dwarf_creature" type="text" name="creature">
      </div>

      <div class="fillable">
        <label for="dwarf_adjective_three">Adjective </label>
        <input id="dwarf_adjective_three" type="text" name="adjective_three">
      </div>

      <div class="fillable">
        <label for="dwarf_animal">Animal (Plural) </label>
        <input id="dwarf_animal" type="text" name="animal">
      </div>

      <div class="fillable">
        <label for="dwarf_color_two">Color </label>
        <input id="dwarf_color_two" type="text" name="color_two">
      </div>

      <div class="fillable">
        <label for="dwarf_adjective_four">Adjective </label>
        <input id="dwarf_adjective_four" type="text" name="adjective_four">
      </div>

      <div class="fillable">
        <label for="dwarf_object">Object </label>
        <input id="dwarf_object" type="text" name="object">
      </div>

      <div class="fillable">
        <label for="dwarf_adverb_two">Adverb </label>
        <input id="dwarf_adverb_two" type="text" name="adverb_two">
      </div>
    </div>  <!--fillable container -->

    <div class="button_container">
      <button>Generate</button>
      <button>Randomize</button>
    </div> <!-- button container -->
  </form>

</html>
