<!DOCTYPE html>

<html>

  <h1>Covert Ops: The Gadget Gambit</h1>


  <form action="/adventure/spy/madlib">
    <div class="fillable_container">
      <div class="fillable">
        <label for="spy_city">Name of the City </label>
        <input id="spy_city" type="text" name="city">
      </div>

      <div class="fillable">
        <label for="spy_spy_name_one">Agent's Name </label>
        <input id="spy_spy_name_one" type="text" name="spy_name_one">
      </div>

      <div class="fillable">
        <label for="spy_name_two">Villian's Name </label>
        <input id="spy_name_two" type="text" name="name_two">
      </div>

      <div class="fillable">
        <label for="spy_color">Color </label>
        <input id="spy_color" type="text" name="color">
      </div>

      <div class="fillable">
        <label for="spy_clothing_one">Article of Clothing </label>
        <input id="spy_clothing_one" type="text" name="clothing_one">
      </div>

      <div class="fillable">
        <label for="spy_gadget_one">Stealthy Gadget </label>
        <input id="spy_gadget_one" type="text" name="gadget_one">
      </div>

      <div class="fillable">
        <label for="spy_gadget_two">Communication Gadget </label>
        <input id="spy_gadget_two" type="text" name="gadget_two">
      </div>

      <div class="fillable">
        <label for="spy_weapon">Small Weapon </label>
        <input id="spy_weapon" type="text" name="weapon">
      </div>

      <div class="fillable">
        <label for="spy_clothing_two">Article of Clothing </label>
        <input id="spy_clothing_two" type="text" name="clothing_two">
      </div>

      <div class="fillable">
        <label for="spy_restaurant">Restaurant </label>
        <input id="spy_restaurant" type="text" name="restaurant">
      </div>

      <div class="fillable">
        <label for="spy_code_name">Code Name </label>
        <input id="spy_code_name" type="text" name="code_name">
      </div>

      <div class="fillable">
        <label for="spy_noun">Noun </label>
        <input id="spy_noun" type="text" name="noun">
      </div>

      <div class="fillable">
        <label for="spy_adjective_one">Adjective </label>
        <input id="spy_adjective_one" type="text" name="adjective_one">
      </div>

      <div class="fillable">
        <label for="spy_plural_noun">Plural Noun </label>
        <input id="spy_plural_noun" type="text" name="plural_noun">
      </div>

      <div class="fillable">
        <label for="spy_adjective_two">Adjective </label>
        <input id="spy_adjective_two" type="text" name="adjective_two">
      </div>

      <div class="fillable">
        <label for="spy_security">Type of Security System </label>
        <input id="spy_security" type="text" name="security">
      </div>

      <div class="fillable">
        <label for="spy_adjective_three">Adjective </label>
        <input id="spy_adjective_three" type="text" name="adjective_three">
      </div>

      <div class="fillable">
        <label for="spy_item_one">Household Item </label>
        <input id="spy_item_one" type="text" name="item_one">
      </div>

      <div class="fillable">
        <label for="spy_item_two">Household Item </label>
        <input id="spy_item_two" type="text" name="item_two">
      </div>

      <div class="fillable">
        <label for="spy_adverb">Adverb </label>
        <input id="spy_adverb" type="text" name="abverb">
      </div>

      <div class="fillable">
        <label for="spy_food">Food </label>
        <input id="spy_food" type="text" name="food">
      </div>

      <div class="fillable">
        <label for="spy_beverage">Beverage </label>
        <input id="spy_beverage" type="text" name="beverage">
      </div>
    </div>  <!--fillable container -->

    <div class="button_container">
      <button>Generate</button>
      <button>Randomize</button>
    </div> <!-- button container -->
  </form>

</html>
