<!DOCTYPE html>

<html>

  <h1>Jungle Quest for the Lost Lemur Treasure</h1>


  <form action="/adventure/jungle/madlib">
    <div class="fillable_container">
      <div class="fillable">
        <label for="jungle_name_one">Name of Explorer </label>
        <input id="jungle_name_one" type="text" name="name_one">
      </div>

      <div class="fillable">
        <label for="jungle_name_two">Sidekick's Name </label>
        <input id="jungle_name_two" type="text" name="jungle_name_two">
      </div>

      <div class="fillable">
        <label for="jungle_adjective_one">Adjective </label>
        <input id="jungle_adjective_one" type="text" name="adjective_one">
      </div>

      <div class="fillable">
        <label for="jungle_weapon">Bladed Weapon </label>
        <input id="jungle_weapon" type="text" name="weapon">
      </div>

      <div class="fillable">
        <label for="jungle_object_one">Object </label>
        <input id="jungle_object_one" type="text" name="object_one">
      </div>

      <div class="fillable">
        <label for="jungle_metal">Precious Metal </label>
        <input id="jungle_metal" type="text" name="metal">
      </div>

      <div class="fillable">
        <label for="jungle_adjective_two">Adjective </label>
        <input id="jungle_adjective_two" type="text" name="adjective_two">
      </div>

      <div class="fillable">
        <label for="jungle_noun">Noun </label>
        <input id="jungle_noun" type="text" name="noun">
      </div>

      <div class="fillable">
        <label for="jungle_sound">Sound (ending in -ing) </label>
        <input id="jungle_sound" type="text" name="sound">
      </div>

      <div class="fillable">
        <label for="jungle_color">Color </label>
        <input id="jungle_color" type="text" name="color">
      </div>

      <div class="fillable">
        <label for="jungle_plural_noun">Plural Noun </label>
        <input id="jungle_plural_noun" type="text" name="plural_noun">
      </div>

      <div class="fillable">
        <label for="jungle_adverb">Adverb </label>
        <input id="jungle_adverb" type="text" name="adverb">
      </div>

      <div class="fillable">
        <label for="jungle_object_two">Object </label>
        <input id="jungle_object_two" type="text" name="object_two">
      </div>

      <div class="fillable">
        <label for="jungle_adjective_three">Adjective </label>
        <input id="jungle_adjective_three" type="text" name="adjective_three">
      </div>

      <div class="fillable">
        <label for="jungle_adjective_four">Adjective </label>
        <input id="jungle_adjective_four" type="text" name="adjective_four">
      </div>
    </div>  <!--fillable container -->

    <div class="button_container">
      <div class="generate_button">
        <button>Generate</button>
      </div>
      <div class="randomize_button">
        <button>Randomize</button>
      </div>
    </div> <!-- button container -->
  </form>

</html>
