<!DOCTYPE html>

<html>
  <div class="title">
    <h1>Adventure MadLibs Story Themes</h1>
  </div>

  <div class="adventure_themes_main_container">
    <div class="theme_button">
      <form action="/adventure/spy/form" method="get">
        <label for="spy_button"></label>
        <input id="spy_button" type="submit" value="Spy">
      </form>
    </div>
    <div class="theme_button">
      <form action="/adventure/jungle/form" method="get">
        <label for="jungle_button"></label>
        <input id="jungle_button" type="submit" value="Jungle">
      </form>
    </div>
    <div class="theme_button">
      <form action="/adventure/bank/form" method="get">
        <label for="bank_button"></label>
        <input id="bank_button" type="submit" value="Bank Robbery">
      </form>
    </div>
    <div class="theme_button">
      <form action="/adventure/archaeology/form" method="get">
        <label for="archaeology_button"></label>
        <input id="archaeology_button" type="submit" value="Archaeological Expedition">
      </form>
    </div>
  </div> <!--adventure_themes_main_container -->
</html>
