<!DOCTYPE html>

<html>

  <h1>Secrets Unearthed: The Quest in the Americas</h1>


  <form action="/adventure//madlib">
    <div class="fillable_container">
      <div class="fillable">
        <label for="archaeology_adjective">Adjective </label>
        <input id="archaeology_adjective" type="text" name="adjective">
      </div>

      <div class="fillable">
        <label for="archaeology_archaeology_name_one">Professor's Name </label>
        <input id="archaeology_archaeology_name_one" type="text" name="archaeology_name_one">
      </div>

      <div class="fillable">
        <label for="archaeology_adverb_one">Adverb </label>
        <input id="archaeology_adverb_one" type="text" name="adverb_one">
      </div>

      <div class="fillable">
        <label for="archaeology_tool_one">Tool (Plural) </label>
        <input id="archaeology_tool_one" type="text" name="tool_one">
      </div>

      <div class="fillable">
        <label for="archaeology_tool_two">Tool (Plural) </label>
        <input id="archaeology_tool_two" type="text" name="tool_two">
      </div>

      <div class="fillable">
        <label for="archaeology_tool_three">Tool (Singular) </label>
        <input id="archaeology_noun_three" type="text" name="tool_three">
      </div>

      <div class="fillable">
        <label for="archaeology_number_one">Number </label>
        <input id="archaeology_number_one" type="text" name="number_one">
      </div>

      <div class="fillable">
        <label for="archaeology_place">Place </label>
        <input id="archaeology_place" type="text" name="place">
      </div>

      <div class="fillable">
        <label for="archaeology_number_two">Large Number </label>
        <input id="archaeology_number_two" type="text" name="number_two">
      </div>

      <div class="fillable">
        <label for="archaeology_adverb_one">Adverb </label>
        <input id="archaeology_adverb_one" type="text" name="adverb_one">
      </div>
      
      <div class="fillable">
        <label for="archaeology_verb_one">Verb </label>
        <input id="archaeology_verb_one" type="text" name="verb_one">
      </div>

      <div class="fillable">
        <label for="archaeology_number_three">Number </label>
        <input id="archaeology_number_three" type="text" name="number_three">
      </div>

      <div class="fillable">
        <label for="archaeology_noun">Noun </label>
        <input id="archaeology_noun" type="text" name="noun">
      </div>

      <div class="fillable">
        <label for="archaeology_adverb_two">Adverb </label>
        <input id="archaeology_adverb_two" type="text" name="adverb_two">
      </div>

      <div class="fillable">
        <label for="archaeology_artifact_one">Artifact (Singular) </label>
        <input id="archaeology_artifact_one" type="text" name="artifact_one">
      </div>

      <div class="fillable">
        <label for="archaeology_color">Color </label>
        <input id="archaeology_color" type="text" name="color">
      </div>

      <div class="fillable">
        <label for="archaeology_animal_one">Animal (Plural) </label>
        <input id="archaeology_animal_one" type="text" name="animal_one">
      </div>

      <div class="fillable">
        <label for="archaeology_animal_two">Animal (Plural) </label>
        <input id="archaeology_animal_two" type="text" name="animal_two">
      </div>

      <div class="fillable">
        <label for="archaeology_animal">Animal (Plural) </label>
        <input id="archaeology_animal" type="text" name="animal">
      </div>

      <div class="fillable">
        <label for="archaeology_adverb_three">Adverb </label>
        <input id="archaeology_adverb_three" type="text" name="adverb_three">
      </div>

      <div class="fillable">
        <label for="archaeology_verb_two">Verb </label>
        <input id="archaeology_verb_two" type="text" name="verb_two">
      </div>

      <div class="fillable">
        <label for="archaeology_verb_three">Verb </label>
        <input id="archaeology_verb_three" type="text" name="verb_three">
      </div>

      <div class="fillable">
        <label for="archaeology_artifact_two">Artifact (Plural) </label>
        <input id="archaeology_artifact_two" type="text" name="artifact_two">
      </div>
    </div>  <!--fillable container -->

    <div class="button_container">
      <button>Generate</button>
      <button>Randomize</button>
    </div> <!-- button container -->
  </form>

</html>
