<!DOCTYPE html>

<html>

  <h1>The Unyielding Lancer</h1>


  <form action="/fantasy/knights/madlib">
    <div class="fillable_container">
      <div class="fillable">
        <label for="knights_kingdom">Name of the Kingdom </label>
        <input id="knights_kingdom" type="text" name="kingdom">
      </div>
      
      <div class="fillable">
        <label for="knights_metal_one">Precious Metal </label>
        <input id="knights_metal_one" type="text" name="metal_one">
      </div>

      <div class="fillable">
        <label for="knights_adjective_one">Adjective </label>
        <input id="knights_adjective_one" type="text" name="adjective_one">
      </div>

      <div class="fillable">
        <label for="knights_adjective_two">Adjective </label>
        <input id="knights_adjective_two" type="text" name="adjective_two">
      </div>

      <div class="fillable">
        <label for="knights_adverb_one">Adverb </label>
        <input id="knights_adverb_one" type="text" name="adverb_one">
      </div>

      <div class="fillable">
        <label for="knights_adverb_two">Adverb </label>
        <input id="knights_adverb_two" type="text" name="adverb_two">
      </div>

      <div class="fillable">
        <label for="knights_adjective_three">Adjective </label>
        <input id="knights_adjective_three" type="text" name="adjective_three">
      </div>

      <div class="fillable">
        <label for="knights_adjective_four">Adjective </label>
        <input id="knights_adjective_four" type="text" name="adjective_four">
      </div>

      <div class="fillable">
        <label for="knights_adjective_five">Adjective </label>
        <input id="knights_adjective_five" type="text" name="adjective_five">
      </div>

      <div class="fillable">
        <label for="knights_place">Place </label>
        <input id="knights_place" type="text" name="place">
      </div>

      <div class="fillable">
        <label for="knights_verb_one">Verb (past tense) </label>
        <input id="knights_verb_one" type="text" name="verb_one">
      </div>

      <div class="fillable">
        <label for="knights_adjective_six">Adjective </label>
        <input id="knights_adjective_six" type="text" name="adjective_six">
      </div>

      <div class="fillable">
        <label for="knights_plural_noun">Plural Noun (Thing) </label>
        <input id="knights_plural_noun" type="text" name="plural_noun">
      </div>

      <div class="fillable">
        <label for="knights_verb_two">Verb (ending in -ing) </label>
        <input id="knights_verb_two" type="text" name="verb_two">
      </div>

      <div class="fillable">
        <label for="knights_adjective_seven">Adjective </label>
        <input id="knights_adjective_seven" type="text" name="adjective_seven">
      </div>

      <div class="fillable">
        <label for="knights_adjective_eight">Adjective </label>
        <input id="knights_adjective_eight" type="text" name="adjective_eight">
      </div>

      <div class="fillable">
        <label for="knights_adjective_nine">Adjective </label>
        <input id="knights_adjective_nine" type="text" name="adjective_nine">
      </div>

      <div class="fillable">
        <label for="knights_color_one">Color </label>
        <input id="knights_color_one" type="text" name="color_one">
      </div>

      <div class="fillable">
        <label for="knights_adverb_three">Adverb </label>
        <input id="knights_adverb_three" type="text" name="adverb_three">
      </div>

      <div class="fillable">
        <label for="knights_color_two">Color </label>
        <input id="knights_color_two" type="text" name="color_two">
      </div>

      <div class="fillable">
        <label for="knights_adjective_ten">Adjective </label>
        <input id="knights_adjective_ten" type="text" name="adjective_ten">
      </div>

      <div class="fillable">
        <label for="knights_plural_noun_two">Plural Noun </label>
        <input id="knights_plural_noun_two" type="text" name="plural_noun_two">
      </div>

      <div class="fillable">
        <label for="knights_adverb_four">Adverb </label>
        <input id="knights_adverb_four" type="text" name="adverb_four">
      </div>

      <div class="fillable">
        <label for="knights_object">Object </label>
        <input id="knights_object" type="text" name="object">
      </div>

      <div class="fillable">
        <label for="knights_adjective_eleven">Adjective </label>
        <input id="knights_adjective_eleven" type="text" name="adjective_eleven">
      </div>

      <div class="fillable">
        <label for="knights_verb_three">Verb </label>
        <input id="knights_verb_three" type="text" name="verb_three">
      </div>

      <div class="fillable">
        <label for="knights_verb_four">Verb </label>
        <input id="knights_verb_four" type="text" name="verb_four">
      </div>

      <div class="fillable">
        <label for="knights_noun">Noun </label>
        <input id="knights_noun" type="text" name="noun">
      </div>
    </div>  <!--fillable container -->

    <div class="button_container">
      <button>Generate</button>
      <button>Randomize</button>
    </div> <!-- button container -->
  </form>

</html>
