<!DOCTYPE html>

<html>

  <h1>Chronicles of the Arcane</h1>


  <form action="/fantasy/magic/madlib">
    <div class="fillable_container">
      <div class="fillable">
        <label for="magic_magical_land">Name of a Magical Land </label>
        <input id="magic_magical_land" type="text" name="magical_land">
      </div>

      <div class="fillable">
        <label for="magic_adjective_one">Adjective </label>
        <input id="magic_adjective_one" type="text" name="adjective_one">
      </div>

      <div class="fillable">
        <label for="magic_wiz">Wizard's Name </label>
        <input id="magic_wiz" type="text" name="wiz">
      </div>

      <div class="fillable">
        <label for="magic_adjective_two">Adjective </label>
        <input id="magic_adjective_two" type="text" name="adjective_two">
      </div>

      <div class="fillable">
        <label for="magic_creature">Magical Creature </label>
        <input id="magic_creature" type="text" name="creature">
      </div>

      <div class="fillable">
        <label for="magic_queen">Female Name </label>
        <input id="magic_queen" type="text" name="queen">
      </div>

      <div class="fillable">
        <label for="magic_villian">Villian's Name </label>
        <input id="magic_villian" type="text" name="villian">
      </div>

      <div class="fillable">
        <label for="magic_adjective_three">Adjective </label>
        <input id="magic_adjective_three" type="text" name="adjective_three">
      </div>

      <div class="fillable">
        <label for="magic_tool">Magical Tool </label>
        <input id="magic_tool" type="text" name="tool">
      </div>

      <div class="fillable">
        <label for="magic_noun_one">Noun </label>
        <input id="magic_noun_one" type="text" name="noun_one">
      </div>

      <div class="fillable">
        <label for="magic_adjective_four">Adjective </label>
        <input id="magic_adjective_four" type="text" name="adjective_four">
      </div>

      <div class="fillable">
        <label for="magic_adjective_five">Adjective </label>
        <input id="magic_adjective_five" type="text" name="adjective_five">
      </div>

      <div class="fillable">
        <label for="magic_adjective_six">Adjective </label>
        <input id="magic_adjective_six" type="text" name="adjective_six">
      </div>

      <div class="fillable">
        <label for="magic_number">Number </label>
        <input id="magic_number" type="text" name="number">
      </div>

      <div class="fillable">
        <label for="magic_unit">Unit of Measure </label>
        <input id="magic_unit" type="text" name="unit">
      </div>

      <div class="fillable">
        <label for="magic_verb">Verb </label>
        <input id="magic_verb" type="text" name="verb">
      </div>

      <div class="fillable">
        <label for="magic_prep">Preposition </label>
        <input id="magic_prep" type="text" name="prep">
      </div>

      <div class="fillable">
        <label for="magic_color_one">Color </label>
        <input id="magic_color_one" type="text" name="color_one">
      </div>

      <div class="fillable">
        <label for="magic_noun_two">Noun </label>
        <input id="magic_noun_two" type="text" name="noun_two">
      </div>

      <div class="fillable">
        <label for="magic_object_one">Object </label>
        <input id="magic_object_one" type="text" name="object_one">
      </div>

      <div class="fillable">
        <label for="magic_object_two">Object </label>
        <input id="magic_object_two" type="text" name="object_two">
      </div>

      <div class="fillable">
        <label for="magic_emotion">Emotion </label>
        <input id="magic_emotion" type="text" name="emotion">
      </div>

      <div class="fillable">
        <label for="magic_color_two">Color </label>
        <input id="magic_color_two" type="text" name="color_two">
      </div>

      <div class="fillable">
        <label for="magic_sound">Sound </label>
        <input id="magic_sound" type="text" name="sound">
      </div>
    </div>  <!--fillable container -->

    <div class="button_container">
      <div class="generate_button">
        <button>Generate</button>
      </div>
      <div class="randomize_button">
        <button>Randomize</button>
      </div>
    </div> <!-- button container -->
  </form>

</html>
