<!DOCTYPE html>

<html>
  <div class="title">
    <h1>Fantasy MadLibs Story Themes</h1>
  </div>

  <div class="fantasy_themes_main_container">
    <div class="theme_button">
      <form action="/fantasy/magic/form" method="get">
        <label for="magic_button"></label>
        <input id="magic_button" type="submit" value="Magic">
      </form>
    </div>
    <div class="theme_button">
      <form action="/fantasy/fairy/form" method="get">
        <label for="fairy_button"></label>
        <input id="fairy_button" type="submit" value="Fairies">
      </form>
    </div>
    <div class="theme_button">
      <form action="/fantasy/dwarf/form" method="get">
        <label for="dwarf_button"></label>
        <input id="dwarf_button" type="submit" value="Dwarves">
      </form>
    </div>
    <div class="theme_button">
      <form action="/fantasy/knight/form" method="get">
        <label for="knight_button"></label>
        <input id="knight_button" type="submit" value="Knights">
      </form>
    </div>
  </div> <!--fantasy_themes_main_container -->
</html>
