<!DOCTYPE html>

<html>

  <h1>Sacrifice in the Enchanted Glade</h1>


  <form action="/fantasy/fairy/madlib">
    <div class="fillable_container">
      <div class="fillable">
        <label for="fairy_name_one">Name </label>
        <input id="fairy_name_one" type="text" name="name_one">
      </div>

      <div class="fillable">
        <label for="fairy_occupation">Occupation </label>
        <input id="fairy_occupation" type="text" name="occupation">
      </div>

      <div class="fillable">
        <label for="fairy_color">Color </label>
        <input id="fairy_color" type="text" name="color">
      </div>

      <div class="fillable">
        <label for="fairy_number">Number </label>
        <input id="fairy_number" type="text" name="number">
      </div>

      <div class="fillable">
        <label for="fairy_ability">Magical Ability </label>
        <input id="fairy_ability" type="text" name="ability">
      </div>

      <div class="fillable">
        <label for="fairy_hobby">Hobby </label>
        <input id="fairy_hobby" type="text" name="hobby">
      </div>

      <div class="fillable">
        <label for="fairy_adjective_one">Adjective </label>
        <input id="fairy_adjective_one" type="text" name="adjective_one">
      </div>

      <div class="fillable">
        <label for="fairy_name_two">Female Fairy Name </label>
        <input id="fairy_name_two" type="text" name="name_two">
      </div>

      <div class="fillable">
        <label for="fairy_realm">Name of the Fairy Realm </label>
        <input id="fairy_realm" type="text" name="realm">
      </div>

      <div class="fillable">
        <label for="fairy_adjective_two">Adjective </label>
        <input id="fairy_adjective_two" type="text" name="adjective_two">
      </div>

      <div class="fillable">
        <label for="fairy_noun_one">Noun </label>
        <input id="fairy_noun_one" type="text" name="noun_one">
      </div>

      <div class="fillable">
        <label for="fairy_adjective_three">Adjective </label>
        <input id="fairy_adjective_three" type="text" name="adjective_three">
      </div>

      <div class="fillable">
        <label for="fairy_adjective_four">Adjective </label>
        <input id="fairy_adjective_four" type="text" name="adjective_four">
      </div>

      <div class="fillable">
        <label for="fairy_noun_two">Noun </label>
        <input id="fairy_noun_two" type="text" name="noun_two">
      </div>

      <div class="fillable">
        <label for="fairy_adjective_five">Adjective </label>
        <input id="fairy_adjective_five" type="text" name="adjective_five">
      </div>

      <div class="fillable">
        <label for="fairy_noun_three">Noun </label>
        <input id="fairy_noun_three" type="text" name="noun_three">
      </div>

      <div class="fillable">
        <label for="fairy_name_three">Male Fairy Name </label>
        <input id="fairy_name_three" type="text" name="name_three">
      </div>

      <div class="fillable">
        <label for="fairy_item">Magical Item </label>
        <input id="fairy_item" type="text" name="item">
      </div>

      <div class="fillable">
        <label for="fairy_adverb">Adverb </label>
        <input id="fairy_adverb" type="text" name="adverb">
      </div>

      <div class="fillable">
        <label for="fairy_noun_four">Noun </label>
        <input id="fairy_noun_four" type="text" name="noun_four">
      </div>
    </div>  <!--fillable container -->

    <div class="button_container">
      <div class="generate_button">
        <button>Generate</button>
      </div>
      <div class="randomize_button">
        <button>Randomize</button>
      </div>
    </div> <!-- button container -->
  </form>

</html>
