<!DOCTYPE html>

<html>

  <h1>The Unyielding Lancer</h1>


  <form action="/fantasy/knights/madlib">
    <div class="fillable_container">
      <div class="fillable">
        <label for="knights_kingdom">Name of the Kingdom </label>
        <input id="knights_kingdom" type="text" name="kingdom">
      </div>
      
      <div class="fillable">
        <label for="knights_metal_one">Precious Metal </label>
        <input id="knights_metal_one" type="text" name="metal_one">
      </div>

      <div class="fillable">
        <label for="knights_noun">Noun </label>
        <input id="knights_noun" type="text" name="noun">
      </div>

      <div class="fillable">
        <label for="knights_body_part_one">Body Part </label>
        <input id="knights_body_part_one" type="text" name="body_part_one">
      </div>

      <div class="fillable">
        <label for="knights_adjective_one">Adjective </label>
        <input id="knights_adjective_one" type="text" name="adjective_one">
      </div>

      <div class="fillable">
        <label for="knights_lady">Female Name </label>
        <input id="knights_lady" type="text" name="lady">
      </div>

      <div class="fillable">
        <label for="knights_knight_one">Male Name </label>
        <input id="knights_knight_one" type="text" name="knight_one">
      </div>

      <div class="fillable">
        <label for="knights_knight_two">Male Name </label>
        <input id="knights_knight_two" type="text" name="knight_two">
      </div>

      <div class="fillable">
        <label for="knights_color_one">Color </label>
        <input id="knights_color_one" type="text" name="color_one">
      </div>

      <div class="fillable">
        <label for="knights_color_two">Color </label>
        <input id="knights_color_two" type="text" name="color_two">
      </div>

      <div class="fillable">
        <label for="knights_metal_two">Type of Metal </label>
        <input id="knights_metal_two" type="text" name="metal_two">
      </div>

      <div class="fillable">
        <label for="knights_instrument">Musical Instrument </label>
        <input id="knights_instrument" type="text" name="instrument">
      </div>

      <div class="fillable">
        <label for="knights_adverb">Adverb </label>
        <input id="knights_adverb" type="text" name="adverb">
      </div>

      <div class="fillable">
        <label for="knights_adjective_two">Adjective </label>
        <input id="knights_adjective_two" type="text" name="adjective_two">
      </div>

      <div class="fillable">
        <label for="knights_armor">Part of a Suit of Armor </label>
        <input id="knights_armor" type="text" name="armor">
      </div>

      <div class="fillable">
        <label for="knights_body_part_two">Body Part </label>
        <input id="knights_body_part_two" type="text" name="body_part_two">
      </div>

      <div class="fillable">
        <label for="knights_number">Number </label>
        <input id="knights_number" type="text" name="number">
      </div>
    </div>  <!--fillable container -->

    <div class="button_container">
      <div class="generate_button">
        <button>Generate</button>
      </div>
      <div class="randomize_button">
        <button>Randomize</button>
      </div>
    </div> <!-- button container -->
  </form>

</html>
