<!DOCTYPE html>

<html>
  <div class="title">
    <h1>Welcome to your next MadLibs Adventure</h1>
  </div>
  
  <div class="rules">
    <a href="https://en.wikipedia.org/wiki/Mad_Libs" target="_blank">Rules of the Game</a>
  </div>

  <div class="selection_instructions">
    <h2>Please Select what type of adventure you want to have</h2>
  </div>
  
  <div class="genres_of_stories_main_container">
    
    <div class="genres_of_stories">
      <form action="/horror">
        <button>Horror</button>
      </form>
    </div>
      
    <div class="genres_of_stories">
      <form action="/scify">
        <button>SciFy</button>
      </form>
    </div>
      
    <div class="genres_of_stories">  
      <form action="/fantasy">
        <button>Fantasy</button>
      </form>
    </div>
      
    <div class="genres_of_stories">  
      <form action="/action">
        <button>Action</button>
      </form>
    </div>
  </div> <!-- genres_of_stories_main_container -->
</html>
