<div class="title">
  <h1>Welcome to your next MadLibs Adventure</h1>
</div>

<div class="selection_instructions">
  <h2>What type of adventure you want to have?</h2>
</div>

<div class="genres_of_stories_main_container">
  <% @genres.each do |genre| %>
    <div class="genres_of_stories">
      <form action="/<%= genre %>" method="get">
      <label for="<%= genre %>_button"></label>
      <input id="<%= genre %>_button" type="submit" value="<%= genre %>">
    </form>
  </div>
  <% end %>
</div>
