<!DOCTYPE html>

<html>
  <div class="title">
    <h1>Horror MadLibs Story Themes</h1>
  </div>

  <div class="horror_themes_main_container">
    <div class="theme_button">
      <form action="/horror/ghost/form" method="get">
        <label for="ghost_button"></label>
        <input id="ghost_button" type="submit" value="Ghost">
      </form>
    </div>
    <div class="theme_button">
      <form action="/horror/asylum/form" method="get">
        <label for="asylum_button"></label>
        <input id="asylum_button" type="submit" value="Asylum">
      </form>
    </div>
    <div class="theme_button">
      <form action="/horror/murder/form" method="get">
        <label for="murder_button"></label>
        <input id="murder_button" type="submit" value="Murder">
      </form>
    </div>
    <div class="theme_button">
      <form action="/horror/nature/form" method="get">
        <label for="nature_button"></label>
        <input id="nature_button" type="submit" value="Nature">
      </form>
    </div>
  </div> <!--horror_themes_main_container -->
</html>
