<h1>The Phantom's Grasp Fillable Form</h1>


<form action="/horror/ghost/madlib">
  <label for="haunted_village">Name of the Village</label>
  <input id="haunted_village" type="text" name="village">

  <label for="haunted_place">Place</label>
  <input id="haunted_place" type="text" name="place" placeholder="cemetary, mansion, palace, etc...>

  <label for="ghost_adj_one">Adjective</label>
  <input id="ghost_adj_one" type="text" name="adjective_one">

  <button>Generate</button>
  <button>Randomize</button>
</form>
