<!DOCTYPE html>

<html>
  <div class="title">
    <h1>Whispering Hollows Asylum</h1>
  </div>

  <div class="story_container">
    <p>It was a (ADJ) and (ADJ) night when a group of adventurers (ADV) gathered outside the notorious asylum known as "Whispering Hallows." They hesitated at the entrance, the doors groaning ominously as they pushed it open, stepping (ADV) into the oppressive darkness.</p>

    <p>A (ADJ) chill wrapped around them as they moved through the (ADJ) halls. Suddenly, a (ADJ) scream shattered the silence, echoing from a distant (PLACE) down the corridor. The walls seemed to (VERB) around them, closing in with each cautious step, and the floorboards felt (ADJ) beneath their feet.</p>

    <p>With hearts pounding, they stumbled into the (PLACE).  It was filled with (PLURAL NOUN), each one (VERB ending in -ing) in the murky gloom. They exchanged (ADJ) glances, a (ADJ) sense of unease settling over them.</p>

    <p>In the corner, a (ADJ) figure with (COLOR) eyes gleaming in the darkness watched them intently. The Asylum's doctor stepped (ADV) from the darkness, revealing a stain labcoat, drenched in (COLOR) liquid. A (ADJ) laugh reverberated through the (PLACE), shaking the (PLURAL NOUN) and urging the adventurers to retreat (ADV) through the labyrinthine corridors.</p>

    <p>Suddenly, a (OBJECT) from above crashed down, sealing their only escape, and silencing their screams. Panic set in as they realized the doctor had them trapped. Outside, the (ADJ) moon cast quiet shadows that seemed to (VERB) and (VERB) in the wind, while the air grew thick with (NOUN).</p>
  </div> <!-- story container -->
</html>
