<!DOCTYPE html>

<html>

  <h1>Tangled Webs We Weave</h1>


  <form action="/horror/nature/madlib">
    <div class="fillable_container">
      <div class="fillable">
        <label for="nature_adjective_one">Adjective </label>
        <input id="nature_adjective_one" type="text" name="adjective_one">
      </div>

      <div class="fillable">
        <label for="nature_noun">Noun </label>
        <input id="nature_noun" type="text" name="noun">
      </div>

      <div class="fillable">
        <label for="nature_name">Name </label>
        <input id="nature_name" type="text" name="name">
      </div>

      <div class="fillable">
        <label for="nature_adjective_two">Adjective </label>
        <input id="nature_adjective_two" type="text" name="adjective_two">
      </div>

      <div class="fillable">
        <label for="nature_animal_one">Animal (plural) </label>
        <input id="nature_animal_one" type="text" name="animal_one">
      </div>

      <div class="fillable">
        <label for="nature_adverb_one">Adverb </label>
        <input id="nature_adverb_one" type="text" name="adverb_one">
      </div>

      <div class="fillable">
        <label for="nature_adverb_two">Adverb </label>
        <input id="nature_adverb_two" type="text" name="adverb_two">
      </div>

      <div class="fillable">
        <label for="nature_adjective_three">Adjective </label>
        <input id="nature_adjective_three" type="text" name="adjective_three">
      </div>

      <div class="fillable">
        <label for="nature_animal_two">Animal </label>
        <input id="nature_animal_two" type="text" name="animal_two">
      </div>

      <div class="fillable">
        <label for="nature_plural_noun_one">Plural Noun </label>
        <input id="nature_plural_noun_one" type="text" name="plural_noun_one">
      </div>

      <div class="fillable">
        <label for="nature_adverb_three">Adverb </label>
        <input id="nature_adverb_three" type="text" name="adverb_three">
      </div>

      <div class="fillable">
        <label for="nature_adjective_four">Adjective </label>
        <input id="nature_adjective_four" type="text" name="adjective_four">
      </div>

      <div class="fillable">
        <label for="nature_adverb_four">Adverb </label>
        <input id="nature_adverb_four" type="text" name="adverb_four">
      </div>

      <div class="fillable">
        <label for="nature_adjective_five">Adjective </label>
        <input id="nature_adjective_five" type="text" name="adjective_five">
      </div>

      <div class="fillable">
        <label for="nature_color">Color </label>
        <input id="nature_color" type="text" name="color">
      </div>

      <div class="fillable">
        <label for="nature_adverb_five">Adverb </label>
        <input id="nature_adverb_five" type="text" name="adverb_five">
      </div>

      <div class="fillable">
        <label for="nature_musical_instrument">Musical Instrument </label>
        <input id="nature_musical_instrument" type="text" name="musical_instrument">
      </div>

      <div class="fillable">
        <label for="nature_adverb_six">Adverb </label>
        <input id="nature_adverb_six" type="text" name="adverb_six">
      </div>

      <div class="fillable">
        <label for="nature_scent">Something you can smell </label>
        <input id="nature_scent" type="text" name="scent">
      </div>

      <div class="fillable">
        <label for="nature_adjective_six">Adjective </label>
        <input id="nature_adjective_six" type="text" name="adjective_six">
      </div>

      <div class="fillable">
        <label for="nature_plural_noun_two">Plural Noun </label>
        <input id="nature_plural_noun_two" type="text" name="plural_noun_two">
      </div>

      <div class="fillable">
        <label for="nature_adverb_seven">Adverb </label>
        <input id="nature_adverb_seven" type="text" name="adverb_seven">
      </div>

      <div class="fillable">
        <label for="nature_emotion">Emotion </label>
        <input id="nature_emotion" type="text" name="emotion">
      </div>

      <div class="fillable">
        <label for="nature_number">Number </label>
        <input id="nature_number" type="text" name="number">
      </div>

      <div class="fillable">
        <label for="nature_verb">Verb </label>
        <input id="nature_verb" type="text" name="verb">
      </div>

      <div class="fillable">
        <label for="nature_adverb_eight">Adverb </label>
        <input id="nature_adverb_eight" type="text" name="adverb_eight">
      </div>

      <div class="fillable">
        <label for="nature_adverb_nine">Adverb </label>
        <input id="nature_adverb_nine" type="text" name="adverb_nine">
      </div>
    </div>  <!--fillable container -->

    <div class="button_container">
      <div class="generate_button">
        <button>Generate</button>
      </div>
      <div class="randomize_button">
        <button>Randomize</button>
      </div>
    </div> <!-- button container -->
  </form>

</html>
