<!DOCTYPE html>

<html>

  <h1>The Phantom's Grasp Fillable Form</h1>


  <form action="/horror/ghost/madlib">
    <div class="fillable_container">
      <div class="fillable">
        <label for="ghost_haunted_village">Name of the Village </label>
        <input id="ghost_haunted_village" type="text" name="village">
      </div>

      <div class="fillable">
        <label for="ghost_haunted_place">Place in the Village </label>
        <input id="ghost_haunted_place" type="text" name="haunted_place">
      </div>

      <div class="fillable">
        <label for="ghost_adj_one">Adjective </label>
        <input id="ghost_adj_one" type="text" name="adjective_one">
      </div>

      <div class="fillable">
        <label for="ghost_place">Place </label>
        <input id="ghost_place" type="text" name="place">
      </div>

      <div class="fillable">
        <label for="ghost_body_part_one">Body Part </label>
        <input id="ghost_body_part_one" type="text" name="body_part_one">
      </div>

      <div class="fillable">
        <label for="ghost_emotion">Emotion </label>
        <input id="ghost_emotion" type="text" name="emotion">
      </div>

      <div class="fillable">
        <label for="host_scent">Scent </label>
        <input id="ghost_scent" type="text" name="scent">
      </div>

      <div class="fillable">
        <label for="ghost_adj_two">Adjective </label>
        <input id="ghost_adj_two" type="text" name="adjective_two">
      </div>

      <div class="fillable">
        <label for="ghost_noun_one">Noun </label>
        <input id="ghost_noun_one" type="text" name="noun_one">
      </div>

      <div class="fillable">
        <label for="ghost_noun_two">Noun </label>
        <input id="ghost_noun_two" type="text" name="noun_two">
      </div>

      <div class="fillable">
        <label for="ghost_plural_noun_one">Plural Noun (Thing) </label>
        <input id="ghost_plural_noun_one" type="text" name="plural_noun_one">
      </div>

      <div class="fillable">
        <label for="ghost_animal_one">Animal </label>
        <input id="ghost_animal_one" type="text" name="animal_one">
      </div>

      <div class="fillable">
        <label for="ghost_noun_three">Noun (Thing) </label>
        <input id="ghost_noun_three" type="text" name="noun_three">
      </div>

      <div class="fillable">
        <label for="ghost_clothing">Article of Clothing </label>
        <input id="ghost_clothing" type="text" name="clothing">
      </div>

      <div class="fillable">
        <label for="ghost_liquid">Noun (Liquid) </label>
        <input id="ghost_liquid" type="text" name="liquid">
      </div>

      <div class="fillable">
        <label for="ghost_color">Color </label>
        <input id="ghost_color" type="text" name="color">
      </div>

      <div class="fillable">
        <label for="ghost_body_part_two">Body Part </label>
        <input id="ghost_body_part_two" type="text" name="body_part_two">
      </div>

      <div class="fillable">
        <label for="ghost_adj_three">Adjective </label>
        <input id="ghost_adj_three" type="text" name="adjective_three">
      </div>

      <div class="fillable">
        <label for="ghost_object">Object </label>
        <input id="ghost_object" type="text" name="object">
      </div>

      <div class="fillable">
        <label for="ghost_animal_two">Animal </label>
        <input id="ghost_animal_two" type="text" name="animal_two">
      </div>

      <div class="fillable">
        <label for="ghost_adj_four">Adjective </label>
        <input id="ghost_adj_four" type="text" name="adjective_four">
      </div>

      <div class="fillable">
        <label for="ghost_adj_five">Adjective </label>
        <input id="ghost_adj_five" type="text" name="adjective_five">
      </div>

      <div class="fillable">
        <label for="ghost_noun_four">Noun </label>
        <input id="ghost_noun_four" type="text" name="noun_four">
      </div>
    </div>  <!--fillable container -->

    <div class="button_container">
      <button>Generate</button>
      <button>Randomize</button>
    </div> <!-- button container -->
  </form>

</html>
