<!DOCTYPE html>

<html>
  <div class="title">
    <h1>Horror MadLibs Story Themes</h1>
  </div>

  <div class="horror_themes_main_container">
    <div class="theme_button">
      <a href="/horror_ghost_form"><button id="horror_ghost_button" type="button">Ghosts</button></a>
    </div>
    <div class="theme_button">
      <a href="/horror_asylum_form"><button id="horror_asylum_button" type="button">Asylum</button></a>
    </div>
    <div class="theme_button">
      <a href="/horror_murder_form"><button id="horror_murder_button" type="button">Murder</button></a>
    </div>
    <div class="theme_button">
      <a href="/horror_nature_form"><button id="horror_nature_button" type="button">Nature</button></a>
    </div>
  </div> <!--horror_themes_main_container -->
</html>>
