<!DOCTYPE html>

<html>

  <h1>Murder at Midnight</h1>


  <form action="/horror/murder/madlib">
    <div class="fillable_container">
      <div class="fillable">
        <label for="murder_adjective_one">Adjective </label>
        <input id="murder_adjective_one" type="text" name="adjective_one">
      </div>

      <div class="fillable">
        <label for="murder_village">Village </label>
        <input id="murder_village" type="text" name="village">
      </div>
      <div class="fillable">
        <label for="murder_name_one">Name </label>
        <input id="murder_name_one" type="text" name="name_one">
      </div>

      <div class="fillable">
        <label for="murder_adjective_two">Adjective </label>
        <input id="murder_adjective_two" type="text" name="adjective_two">
      </div>

      <div class="fillable">
        <label for="murder_adjective_three">Adjective </label>
        <input id="murder_adjective_three" type="text" name="adjective_three">
      </div>

      <div class="fillable">
        <label for="murder_building">Building </label>
        <input id="murder_building" type="text" name="building">
      </div>

      <div class="fillable">
        <label for="murder_name_two">Famous Person </label>
        <input id="murder_name_two" type="text" name="name_two">
      </div>

      <div class="fillable">
        <label for="murder_occupation">Their Occupation </label>
        <input id="murder_occupation" type="text" name="occupation">
      </div>

      <div class="fillable">
        <label for="murder_sound">Sound </label>
        <input id="murder_sound" type="text" name="sound">
      </div>

      <div class="fillable">
        <label for="murder_emotion">Emotion </label>
        <input id="murder_emotion" type="text" name="emotion">
      </div>

      <div class="fillable">
        <label for="murder_object_one">Object </label>
        <input id="murder_object_one" type="text" name="object_one">
      </div>

      <div class="fillable">
        <label for="murder_furniture_one">Piece of Furniture </label>
        <input id="murder_furniture_one" type="text" name="furniture_one">
      </div>

      <div class="fillable">
        <label for="murder_color">Color </label>
        <input id="murder_color" type="text" name="color">
      </div>

      <div class="fillable">
        <label for="murder_liquid">Liquid </label>
        <input id="murder_liquid" type="text" name="liquid">
      </div>

      <div class="fillable">
        <label for="murder_object_two">Object </label>
        <input id="murder_object_two" type="text" name="object_two">
      </div>

      <div class="fillable">
        <label for="murder_furniture_two">Piece of Furniture </label>
        <input id="murder_furniture_two" type="text" name="furniture_two">
      </div>

      <div class="fillable">
        <label for="murder_adjective_four">Adjective </label>
        <input id="murder_adjective_four" type="text" name="adjective_four">
      </div>

      <div class="fillable">
        <label for="murder_room">Room </label>
        <input id="murder_room" type="text" name="room">
      </div>

      <div class="fillable">
        <label for="murder_name_three">Name </label>
        <input id="murder_name_three" type="text" name="name_three">
      </div>

      <div class="fillable">
        <label for="murder_plural_adjective_five">Adjective </label>
        <input id="murder_adjective_five" type="text" name="adjective_five">
      </div>

      <div class="fillable">
        <label for="murder_name_four">Name </label>
        <input id="murder_name_four" type="text" name="name_four">
      </div>

      <div class="fillable">
        <label for="murder_name_five">Name </label>
        <input id="murder_name_five" type="text" name="name_five">
      </div>

      <div class="fillable">
        <label for="murder_adverb">Adverb </label>
        <input id="murder_adverb" type="text" name="adverb">
      </div>

      <div class="fillable">
        <label for="murder_beverage">Beverage </label>
        <input id="murder_beverage" type="text" name="beverage">
      </div>

      <div class="fillable">
        <label for="murder_adjective_six">Adjective </label>
        <input id="murder_adjective_six" type="text" name="adjective_six">
      </div>
    </div>  <!--fillable container -->

    <div class="button_container">
      <div class="generate_button">
        <button>Generate</button>
      </div>
      <div class="randomize_button">
        <button>Randomize</button>
      </div>
    </div> <!-- button container -->
  </form>

</html>
