<!DOCTYPE html>
<html>
  <head>
    <title>Madlibs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- jQuery (required for Bootstrap 4 JS) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Popper.js (required for dropdowns/tooltips) -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9G3Mi0K/EVz7tz5kJmGjx0BlQnOQwnn1+1T8V" crossorigin="anonymous"></script>

    <!-- Bootstrap 4 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
      body {
        padding-top: 50px;
        text-align: center;
        color: green;
        text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
        background-color: rgba(255, 255, 255, 0.55);
        background-image: url('/images/green-slime-background.jpg');
        background-blend-mode: overlay;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 50px;
      }

      .title {
        margin-top: 20px;
        margin-bottom: 20px;
        color: darkgreen;
        text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
      }

      .subtitle {
        margin-bottom: 20px;
        color: darkgreen;
        text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
      }

      .input_form {
        margin: 0 auto 10%;
        color: darkgreen;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
      }

      .story {
        margin: 20px auto;
        padding-left: 28%;
        padding-right: 28%;
      }
    </style>
  </head>


  <body>
    <nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
      <a href="#" class="navbar-brand">MadLibs</a>
      
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
      
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://en.wikipedia.org/wiki/Mad_Libs" target="_blank">Rules</a>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
