<!DOCTYPE html>

<html>

  <h1>Celestial Passages: Through the Nebula's Gateway</h1>


  <form action="/scifi/robots/madlib">
    <div class="fillable_container">
      <div class="fillable">
        <label for="robots_adjective_one">Adjective </label>
        <input id="robots_adjective_one" type="text" name="adjective_one">
      </div>

      <div class="fillable">
        <label for="robots_verb_one">Verb </label>
        <input id="robots_verb_one" type="text" name="verb_one">
      </div>

      <div class="fillable">
        <label for="robots_adjective_two">Adjective </label>
        <input id="robots_adjective_two" type="text" name="adjective_two">
      </div>

      <div class="fillable">
        <label for="robots_robot">Robot's Name </label>
        <input id="robots_robot" type="text" name="robot">
      </div>

      <div class="fillable">
        <label for="robots_verb_two">Verb </label>
        <input id="robots_verb_two" type="text" name="verb_two">
      </div>

      <div class="fillable">
        <label for="robots_planet">Plant's Name </label>
        <input id="robots_planet" type="text" name="planet">
      </div>

      <div class="fillable">
        <label for="robots_adjective_three">Adjective </label>
        <input id="robots_adjective_three" type="text" name="adjective_three">
      </div>

      <div class="fillable">
        <label for="robots_verb_three">Verb </label>
        <input id="robots_verb_three" type="text" name="verb_three">
      </div>

      <div class="fillable">
        <label for="robots_plural_noun">Plural Noun </label>
        <input id="robots_plural_noun" type="text" name="plural_noun">
      </div>

      <div class="fillable">
        <label for="robots_adverb">Adverb </label>
        <input id="robots_adverb" type="text" name="adverb">
      </div>

      <div class="fillable">
        <label for="robots_adjective_four">Adjective </label>
        <input id="robots_adjective_four" type="text" name="adjective_four">
      </div>

      <div class="fillable">
        <label for="robots_number">Number </label>
        <input id="robots_number" type="text" name="number">
      </div>

      <div class="fillable">
        <label for="robots_verb_four">Verb </label>
        <input id="robots_verb_four" type="text" name="verb_four">
      </div>

      <div class="fillable">
        <label for="robots_color">Color </label>
        <input id="robots_color" type="text" name="color">
      </div>

      <div class="fillable">
        <label for="robots_chemical">Chemical Element </label>
        <input id="robots_chemical" type="text" name="chemical">
      </div>

      <div class="fillable">
        <label for="robots_verb_five">Verb </label>
        <input id="robots_verb_five" type="text" name="verb_five">
      </div>

      <div class="fillable">
        <label for="robots_adjective_five">Adjective </label>
        <input id="robots_adjective_five" type="text" name="adjective_five">
      </div>
    </div>  <!--fillable container -->

    <div class="button_container">
      <div class="generate_button">
        <button>Generate</button>
      </div>
      <div class="randomize_button">
        <button>Randomize</button>
      </div>
    </div> <!-- button container -->
  </form>

</html>
