<!DOCTYPE html>

<html>
  <div class="title">
    <h1>Scify MadLibs Story Themes</h1>
  </div>

  <div class="scify_themes_main_container">
    <div class="theme_button">
      <form action="/scify/aliens/form" method="get">
        <label for="aliens_button"></label>
        <input id="aliens_button" type="submit" value="Aliens">
      </form>
    </div>
    <div class="theme_button">
      <form action="/scify/robots/form" method="get">
        <label for="robots_button"></label>
        <input id="robots_button" type="submit" value="Robots">
      </form>
    </div>
    <div class="theme_button">
      <form action="/scify/space/form" method="get">
        <label for="space_button"></label>
        <input id="space_button" type="submit" value="Space">
      </form>
    </div>
    <div class="theme_button">
      <form action="/scify/lab/form" method="get">
        <label for="lab_button"></label>
        <input id="lab_button" type="submit" value="Laboratory">
      </form>
    </div>
  </div> <!--scify_themes_main_container -->
</html>
