<!DOCTYPE html>

<html>

  <h1>Phase Shifting</h1>


  <form action="/horror/lab/madlib">
    <div class="fillable_container">
      <div class="fillable">
        <label for="lab_city">City Name </label>
        <input id="lab_city" type="text" name="city">
      </div>

      <div class="fillable">
        <label for="lab_adjective_one">Adjective </label>
        <input id="lab_adjective_one" type="text" name="adjective_one">
      </div>

      <div class="fillable">
        <label for="lab_lab">Laboratory Name </label>
        <input id="lab_lab" type="text" name="lab">
      </div>

      <div class="fillable">
        <label for="lab_scientist">Scientist Name </label>
        <input id="lab_scientist" type="text" name="scientist">
      </div>

      <div class="fillable">
        <label for="lab_radiation">Type of Radiation </label>
        <input id="lab_radiation" type="text" name="radiation">
      </div>

      <div class="fillable">
        <label for="lab_adjective_two">Adjective </label>
        <input id="lab_adjective_two" type="text" name="adjective_two">
      </div>

      <div class="fillable">
        <label for="lab_color">Color </label>
        <input id="lab_color" type="text" name="color">
      </div>

      <div class="fillable">
        <label for="lab_verb_one">Verb </label>
        <input id="lab_verb_one" type="text" name="verb_one">
      </div>

      <div class="fillable">
        <label for="lab_plural_noun">Plural Noun </label>
        <input id="lab_plural_noun" type="text" name="plural_noun">
      </div>

      <div class="fillable">
        <label for="lab_noun_one">Noun </label>
        <input id="lab_noun_one" type="text" name="noun_one">
      </div>

      <div class="fillable">
        <label for="lab_being">State of Being </label>
        <input id="lab_being" type="text" name="being">
      </div>

      <div class="fillable">
        <label for="lab_hero">Name of a Superhero </label>
        <input id="lab_hero" type="text" name="hero">
      </div>

      <div class="fillable">
        <label for="lab_villian">Name of a Villian </label>
        <input id="lab_villian" type="text" name="villian">
      </div>

      <div class="fillable">
        <label for="lab_name">Name </label>
        <input id="lab_name" type="text" name="name">
      </div>

      <div class="fillable">
        <label for="lab_neighborhood">Neighborhood </label>
        <input id="lab_neighborhood" type="text" name="neighborhood">
      </div>

      <div class="fillable">
        <label for="lab_noun_two">Noun </label>
        <input id="lab_noun_two" type="text" name="noun_two">
      </div>

      <div class="fillable">
        <label for="lab_verb_one">Verb (past tense) </label>
        <input id="lab_verb_one" type="text" name="verb_one">
      </div>

      <div class="fillable">
        <label for="lab_verb_two">Verb (past tense) </label>
        <input id="lab_verb_two" type="text" name="verb_two">
      </div>

      <div class="fillable">
        <label for="lab_adjective_three">Adjective </label>
        <input id="lab_adjective_three" type="text" name="adjective_three">
      </div>

      <div class="fillable">
        <label for="lab_adverb">Adverb </label>
        <input id="lab_adverb" type="text" name="adverb">
      </div>
    </div>  <!--fillable container -->

    <div class="button_container">
      <button>Generate</button>
      <button>Randomize</button>
    </div> <!-- button container -->
  </form>

</html>
