<!DOCTYPE html>

<html>

  <h1>Celestial Passages: Through the Nebula's Gateway</h1>


  <form action="/scifi/space/madlib">
    <div class="fillable_container">
      <div class="fillable">
        <label for="space_adjective_one">Adjective </label>
        <input id="space_adjective_one" type="text" name="adjective_one">
      </div>

      <div class="fillable">
        <label for="space_starship">Starship Name </label>
        <input id="space_starship" type="text" name="starship">
      </div>

      <div class="fillable">
        <label for="space_captain">Captain's Name </label>
        <input id="space_captain" type="text" name="captain">
      </div>

      <div class="fillable">
        <label for="space_adjective_two">Adjective </label>
        <input id="space_adjective_two" type="text" name="adjective_two">
      </div>

      <div class="fillable">
        <label for="space_nebula">Nebula's Name </label>
        <input id="space_nebula" type="text" name="nebula">
      </div>

      <div class="fillable">
        <label for="space_adjective_three">Adjective </label>
        <input id="space_adjective_three" type="text" name="adjective_three">
      </div>

      <div class="fillable">
        <label for="space_officer">Officer's Name </label>
        <input id="space_officer" type="text" name="officer">
      </div>

      <div class="fillable">
        <label for="space_noun">Noun </label>
        <input id="space_noun" type="text" name="noun">
      </div>

      <div class="fillable">
        <label for="space_adjective_four">Adjective </label>
        <input id="space_adjective_four" type="text" name="adjective_four">
      </div>

      <div class="fillable">
        <label for="space_plural_noun_one">Plural Noun </label>
        <input id="space_plural_noun_one" type="text" name="plural_noun_one">
      </div>

      <div class="fillable">
        <label for="space_adjective_five">Adjective </label>
        <input id="space_adjective_five" type="text" name="adjective_five">
      </div>

      <div class="fillable">
        <label for="space_equipment">Piece of Equipment </label>
        <input id="space_equipment" type="text" name="equipment">
      </div>

      <div class="fillable">
        <label for="space_plural_noun_two">Plural Noun </label>
        <input id="space_plural_noun_two" type="text" name="plural_noun_two">
      </div>

      <div class="fillable">
        <label for="space_color_one">Color </label>
        <input id="space_color_one" type="text" name="color_one">
      </div>

      <div class="fillable">
        <label for="space_plural_noun_three">Plural Noun (Thing) </label>
        <input id="space_plural_noun_three" type="text" name="plural_noun_three">
      </div>

      <div class="fillable">
        <label for="space_color_two">Color </label>
        <input id="space_color_two" type="text" name="color_two">
      </div>

      <div class="fillable">
        <label for="space_verb">Verb </label>
        <input id="space_verb" type="text" name="verb">
      </div>

      <div class="fillable">
        <label for="space_adverb">Adverb </label>
        <input id="space_adverb" type="text" name="adverb">
      </div>
    </div>  <!--fillable container -->

    <div class="button_container">
      <div class="generate_button">
        <button>Generate</button>
      </div>
      <div class="randomize_button">
        <button>Randomize</button>
      </div>
    </div> <!-- button container -->
  </form>

</html>
