<!DOCTYPE html>

<html>

  <h1>Galactic Odyssey</h1>


  <form action="/scifi/aliens/madlib">
    <div class="fillable_container">
      <div class="fillable">
        <label for="aliens_captain">Captain's Name </label>
        <input id="aliens_captain" type="text" name="captain">
      </div>

      <div class="fillable">
        <label for="aliens_noun_one">Noun </label>
        <input id="aliens_noun_one" type="text" name="noun_one">
      </div>

      <div class="fillable">
        <label for="aliens_galaxy">Galaxy Name </label>
        <input id="aliens_galaxy" type="text" name="galaxy">
      </div>

      <div class="fillable">
        <label for="aliens_adjective_one">Adjective </label>
        <input id="aliens_adjective_one" type="text" name="adjective_one">
      </div>

      <div class="fillable">
        <label for="aliens_aliens">Name of Alien Species </label>
        <input id="aliens_aliens" type="text" name="aliens">
      </div>

      <div class="fillable">
        <label for="aliens_noun_two">Noun </label>
        <input id="aliens_noun_two" type="text" name="noun_two">
      </div>

      <div class="fillable">
        <label for="aliens_noun_three">Noun </label>
        <input id="aliens_noun_three" type="text" name="noun_three">
      </div>

      <div class="fillable">
        <label for="aliens_adjective_two">Adjective </label>
        <input id="aliens_adjective_two" type="text" name="adjective_two">
      </div>

      <div class="fillable">
        <label for="aliens_planet">Planet Name </label>
        <input id="aliens_planet" type="text" name="planet">
      </div>

      <div class="fillable">
        <label for="aliens_adjective_three">Adjective </label>
        <input id="aliens_adjective_three" type="text" name="adjective_three">
      </div>

      <div class="fillable">
        <label for="aliens_plural_noun_one">Plural Noun </label>
        <input id="aliens_plural_noun_one" type="text" name="plural_noun_one">
      </div>

      <div class="fillable">
        <label for="aliens_plural_noun_two">Plural Noun </label>
        <input id="aliens_plural_noun_two" type="text" name="plural_noun_two">
      </div>

      <div class="fillable">
        <label for="aliens_adjective_four">Adjective </label>
        <input id="aliens_adjective_four" type="text" name="adjective_four">
      </div>

      <div class="fillable">
        <label for="aliens_color">Color </label>
        <input id="aliens_color" type="text" name="color">
      </div>

      <div class="fillable">
        <label for="aliens_adjective_five">Adjective </label>
        <input id="aliens_adjective_five" type="text" name="adjective_five">
      </div>

      <div class="fillable">
        <label for="aliens_noun_four">Noun </label>
        <input id="aliens_noun_four" type="text" name="noun_four">
      </div>

      <div class="fillable">
        <label for="aliens_verb">Verb </label>
        <input id="aliens_verb" type="text" name="verb">
      </div>

      <div class="fillable">
        <label for="aliens_noun_five">Noun </label>
        <input id="aliens_noun_five" type="text" name="noun_five">
      </div>

      <div class="fillable">
        <label for="aliens_adjective_six">Adjective </label>
        <input id="aliens_adjective_six" type="text" name="adjective_six">
      </div>

      <div class="fillable">
        <label for="aliens_emotion_one">Emotion </label>
        <input id="aliens_emotion_one" type="text" name="emotion_one">
      </div>

      <div class="fillable">
        <label for="aliens_noun_six">Noun </label>
        <input id="aliens_noun_six" type="text" name="noun_six">
      </div>

      <div class="fillable">
        <label for="aliens_emotion_two">Emotion </label>
        <input id="aliens_emotion_two" type="text" name="emotion_two">
      </div>
    </div>  <!--fillable container -->

    <div class="button_container">
      <div class="generate_button">
        <button>Generate</button>
      </div>
      <div class="randomize_button">
        <button>Randomize</button>
      </div>
    </div> <!-- button container -->
  </form>

</html>
